<%- include('../partials/header') %>

    <h2>Enter a New flight</h2>
    <form action="/flights" method="POST">
        <label>airline:
            <select name="airline">
                <option value="American">American</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
            </select>
        </label><br>
        <label>airport:
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        </label><br>
        <label>flightNo:
            <input type="text" name="flight No">
            </select>
        </label><br>
        <label>departs:
            <input type="date" name="departs">
        </label><br>
        <label>Add Flights:
        </label><br>
        <button type="submit">Add Flight</button>
    </form>
    <p>
        <%= errorMsg %>
    </p>

    <%- include('../partials/footer') %>

        <!-- <label>flightNo:
        <select name="FlightNo">
            <option value="10">10</option>
            <option value="1000">1000</option>
            <option value="2000">2000</option>
            <option value="3000">3000</option>
        </select> -->